.body {
  background-color: #F6F8FD;
}

.bg {
  background-color: #F6F8FD;
}

.green {
  font-weight: 400;
}

@media (max-width:567px) {
  .mobile {
    padding-top: 40px;
  }
}

.col-8 {
  width: 50%;
}

.ml-auto {
  width: 15%;
}

.link-href {
  color: #08575c;
}

/* the second set of styles */

.card {
  color: #000000;
  width: 410px!important;
}

.mrow {
  margin-top: 30px;
  margin-bottom: 30px;
}

img {
  margin-right: 10px;
}

.main span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mrow img:hover {
  border-bottom: 1px solid #000000;
  cursor: pointer;
}

.btn-primary {
  border: none;
  border-radius: 30px;
}

h5 {
  padding-top: 8px;
}

.form-group {
  position: relative;
  margin-bottom: 2rem;
}

.form-control-placeholder {
  position: absolute;
  top: 6px;
  padding: 7px 0 0 10px;
  transition: all 200ms;
  opacity: 0.5;
  color: #000000!important;
  font-size: 75%;
}

.form-control:focus + .form-control-placeholder, .form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0,-100%,0);
  opacity: 1;
  top: 10px;
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000!important;
  border-radius: 0;
  outline: 0;
}

.form-control:focus, .form-control:after {
  outline-width: 0;
  border-bottom: 1px solid #000000!important;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  color: #000000;
  letter-spacing: 1px;
}

.cc-type-error {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Roboto Regular";
  font-size: 14px;
  line-height: 1.42857143;
  color: #3f3f3f;
  box-sizing: border-box;
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.radio {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Roboto Regular";
  font-size: 14px;
  line-height: 1.42857143;
  color: #3f3f3f;
  white-space: normal;
  box-sizing: border-box;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  display: inline-block;
  margin-right: 0px;
  margin-left: 6px;
}

.plnext-sr-only {
  font-family: nexa;
  font-size: x-large;
  font-weight: bold;
}

#ccOptions {
  width: 100%;
}

