.bg {
  background-color: #08565c22;
  border-radius: 20px;
}

@media (max-width:567px) {
  .mobile {
    padding-top: 40px;
  }
}

.ml-auto {
  width: 15%;
}

.link-href {
  color: #08575c;
}


.form-group {
  position: relative;
  margin-bottom: 2rem;
}

.radio {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: #ff0000;
  font-family: "Nexa";
  font-size: 14px;
  line-height: 1.42857143;
  color: #000000;
  white-space: normal;
  box-sizing: border-box;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  display: inline-block;
  margin-right: 6px;
  margin-left: 6px;
}

.plnext-sr-only {
  font-family: nexa;
  font-size: 20px;
  font-weight: bold;
}

#ccOptions {
  width: 100%;
}

.btn-bk-confirm {
  width: 112.6625px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  font-family: Nexa;
  background-color: #08575c;
  border-radius: 25px;
  color: #f6f8fd;
  padding-bottom: 0px;
  padding-top: 0px;
  border: transparent;
  margin-top: 20px;
}

.btn-bk-confirm:hover {
  color: #000000;
  background-color: rgba(8,87,92,0.15);
}