@media (min-width: 768px) {
  .navbar {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #075257;
  }
}

.col-md-8 order-md-1 {
  /*font-family: nexa;*/
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

.btn-theme {
  background: #08575c;
  --bs-body-color: #ffffff;
  color: rgb(255,255,255);
  font-family: nexa;
  transform: scale(1.55);
  border-radius: 37px;
  width: 127.7px;
  border-color: transparent;
  height: 42px;
  opacity: 1;
}

.nav-button {
  background: transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  font-family: Nexa;
  height: 20px;
  padding: 0px;
  padding-bottom: 0px;
  padding-top: 1px;
  font-size: 11px;
  width: 63.9375px;
  min-width: 1px;
  border-color: var(--bs-gray-100);
  color: rgb(255,255,255);
  transform: scale(1.5);
  margin-right: 40px;
  margin-left: 40px;
}

.bk-search-block {
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-size: 100%;
  font-family: var(--jotia);
  color: #064c50;
  box-sizing: border-box;
  width: 75%;
  flex: 0 0 25%;
  margin-bottom: 1rem;
  display: flex;
  padding-right: 0;
  padding-left: 0;
  float: left;
  position: static;
  max-width: 20%;
}

.qr-datepicker {
  font-weight: 400;
  text-align: left;
  font-family: var(--jotia);
  color: #064c50;
  box-sizing: border-box;
  display: flex;
  float: left;
  clear: both;
  width: 100%;
  font-size: 14px;
  line-height: 1.4em;
}

.bk-search-block-1 {
  text-align: left;
  font-family: var(--jotia);
  font-size: 14px;
  line-height: 1.4em;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  display: inline-block;
  float: left;
  position: static;
  border: 0;
  text-decoration: none;
  color: #666;
  font-weight: 400;
  box-sizing: border-box;
  height: 60px;
  min-width: 15%;
}

.bk-search-block-2 {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  line-height: inherit;
  overflow: visible;
  text-indent: 11px;
  font-weight: 400;
  color: #333;
  text-transform: capitalize;
  min-height: 46px;
  border: 1px solid #d7d7d7;
  width: 100%;
  background-clip: padding-box;
  padding: 27px 0 6px;
  font-size: 17px;
  margin-left: 0;
  border-left: 1px solid #d7d7d7;
  border-radius: 0 6px 6px 0;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.t-class-info {
  line-height: 1.5;
  text-align: left;
  font-family: var(--jotia);
  cursor: pointer;
  box-sizing: border-box;
  -webkit-user-select: none;
  z-index: +2;
  position: absolute;
  pointer-events: none;
  transition: all .2s ease;
  top: 7px;
  font-size: 12px;
  font-weight: 400;
  opacity: 1;
  color: #555;
  padding: 0;
  margin-left: -11px;
}

.t-day-check-in {
  height: 24px;
  box-sizing: border-box;
  font-family: nexa;
  line-height: inherit;
  overflow: visible;
  position: relative;
  border: 0;
  display: block;
  width: auto;
  background: 0;
  color: #aaaaaa;
  left: 0;
  margin-left: 11px;
  font-size: 11px;
}

.container-rempadresponsive {
  margin-top: auto;
  margin-bottom: 20px;
  margin-inline-start: 350px;
  margin-inline-end: 350px;
  font-family: nexa;
  width: 60%;
}

.btn-index-search {
  height: 35px;
  margin-left: 484px;
  margin-right: 458px;
  transform: scale(1.55);
  border-radius: 37px;
  width: 89.7px;
  margin-top: 20px;
  font-weight: bold;
}

.carousel-caption{
  margin-bottom: 450px;
}

.c-slogan{
  font-family: nexa;
  font-size: 50px;
  font-weight: 850;
  color: #ffffff;

}